  .react-calendar {
    border-radius: 10px;
    border: 0;
    overflow: hidden;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  }
  
  .react-calendar__navigation {
    border-radius: 10px;
  }
  
  .react-calendar__navigation__label__labelText {
    font-size: 18px;
  }
  
  .calendar-tile {
    position: relative; /* Make sure each calendar tile is positioned relatively */
    background-color: rgb(240, 240, 250);
    color: black;
  }
  
  .current-day {
    background-color: rgb(215, 18, 255);
    color: white;
  }

  .calendar-button {
    background-color: rgb(215, 18, 255);
    color: white; /* Ensure the text color contrasts well with the background */
}

.react-calendar__navigation__arrow {
  color:rgb(215, 18, 255); 
  font-size: 20px;
}

.react-calendar__tile--active {
  background-color: #006edc; 
  color: white; /* Change the text color of the selected date to white */
}

.calendar-tile.current-day:hover {
  background-color: rgb(215, 18, 255) !important; /* Use !important to override conflicting styles */
  color: white !important; /* Ensure the text color doesn't change on hover */
}

.entry-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 4px;
  height: 4px;
  background-color: limegreen;
  border-radius: 50%;
}

.calendar-container {
  
}