.home-page-container {
  display: grid;
  grid-template-rows: auto  1fr; /* Navbar takes up auto height, rest of the content takes up remaining height */
  grid-template-columns:  30%  70%; /* Left column takes up  30%, right column takes up  70% */
  height:  100vh; /* Full viewport height */
}


.navbar-container {
  grid-column:  1 / -1; /* Span the full width of the grid */
  background-color: rgb(97,  96,  153);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center the content vertically */
  padding:  15px  30px; /* Adjust padding as needed */
  height:  50px;
}


.navbar-container h1 {
  font-size: 25px;
  width:  300px;
  margin:  0; /* Remove default margin */
}

.search-container {
  position: relative; /* Ensure the search container is relative */
}

.suggestions-container {
  position: absolute;
  width:  100%; /* Take full width of the search container */
  background-color: lightslategrey;
  box-shadow:  0  2px  4px rgba(0,0,0,0.1);
  z-index:  100;
  top:  100%; /* Position it right under the search bar */
  left:  0; /* Align it to the left edge of the search container */
  margin-top:  0; /* No extra margin needed */
  border: transparent;
  border-radius: 5px;
}

.search-suggestion {
  padding:  10px;
  cursor: pointer;
  max-height:  200px; /* Adjust based on your needs */
  overflow-y: auto; /* Add scroll if content exceeds the max-height */
}

.search-suggestion:hover {
  background-color: rgb(114,  178,  237);
}

.left-column, .right-column {
  flex:  1; /* Both columns take up equal space */
  overflow: auto; /* Scroll within the column if content overflows */
}


.left-column {
  grid-column:  1; /* Take up the first column */
  display: flex;
  flex-direction: column;
  height:  100%; /* Take up full height */
}


.right-column {
  grid-column:  2; /* Take up the second column */
  display: flex;
  flex-direction: column;
  height:  100%; /* Take up full height */
}


.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:  20px;
  padding-bottom:  20px;
  background-color: lightslategray;
}


.inputs-container {
  display: grid;
  grid-template-columns:  1fr;
  grid-gap:  10px;
  padding:  20px;
  background-color:lightslategray;
}


.inputs-container label {
  display: block;
  justify-self: center;
  margin-bottom:  5px;
  color: white;
}

.inputs-container input {
  width:  80%;
  height:  50px;
  padding:  5px;
  justify-self: center;
  border:  1px solid #ccc;
  border-radius:  10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.inputs-container .new-entry-btn {
  grid-column:  1;
  justify-self: center;
  margin-top:  20px;
}

input:focus {
  outline: none;
}
.left-column {
  background-color: lightslategray;
}
.right-column .small-btn {
  background-color: rgb(114,  178,  237);
  border: none;
  color: white;
  width: 80px; /* Allows the button to size based on content */
  padding:  5px  10px; /* Adjusts the padding to make the button smaller */
  font-size:  14px; /* Reduces the font size to make the button text smaller */
  margin-top:  5px; /* Adds some space between buttons */
  cursor: pointer;
  transition: background-color  0.3s ease;
}

.right-column .buttons-container {
  display: flex;
  flex-direction: row; /* Aligns buttons in a row */
  justify-content: flex-end;
  gap: 10px;
  width:  100%; /* Ensures the container takes full width of its parent */
}

.right-column .small-btn:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.pages-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Optional: If you also want to center the buttons vertically */
  padding:  20px  0; /* Adds some padding around the buttons for better appearance */
  gap: 30px
}

.entries-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  background-color: rgb(218,  199,  242);
  flex-grow:  1;
}

.entries-container h1{
font-size: 40px;
display: flex;
justify-content: center;
padding-bottom: 20px;
color: white;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
transition: all 0.3s ease; /* Add a transition for a smooth effect */
}

.entry {
  display: flex;
  flex-direction: column;
  transition: all  0.3s ease;
  border:  1px solid #ccc;
  padding:  10px;
  margin-bottom:  10px;
  border-radius:  5px;
  background-color: rgb(97,  96,  153);
  color: white;
  width:  90%;
  margin-left:  5%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  position: relative; /* Add this line */
}

.entry-content {
  display: flex; /* Use flexbox to layout the title and content on the same line */
  flex-wrap: wrap; /* Allow the content to wrap if necessary */
  width:  100%; /* Take full width of the .entry container */
}

.entry span[contentEditable='true'] {
  display: block; /* Adjusted from inline-block */
  flex-grow:  1;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.entry:hover {
  transform: scale(1.05);
}


.logout-button-container {
  padding:  20px;
  align-self: center;
  width: auto;
}


.blue-btn {
  background-color: rgb(114,  178,  237);
  border: none;
  color: white;
  width:  200px;
  height:  45px;
  font-size:  20px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.delete-btn {
  position: absolute;
  top:  10px;
  right:  10px;
  background-color: transparent;
  border: none;
  color: white;
  padding:  5px  10px;
  border-radius:  50%;
  cursor: pointer;
  font-weight: bold;
  font-size:  14px;
}

.new-entry-btn, .logout-btn {
  cursor: pointer;
}

.new-entry-btn:hover, .logout-btn:hover {
  background-color: #0056b3;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  20px  0;
}


.pagination-button {
  background-color: rgb(114,  178,  237); /* Bootstrap primary color */
  border: none;
  border-radius: px;
  color: white;
  padding:  5px  10px;
  margin:  0  10px;
  font-size:  20px;
  cursor: pointer;
  transition: background-color  0.3s ease;
}


.pagination-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}


.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.pagination-button span {
  font-size:  24px; /* Adjust size as needed */
}

input:focus {
  outline: none;
}

.mood-tags-container {
  display: flex;
  justify-content: center;
  
  margin-bottom: 10px;
  gap: 10px;
}

.mood-tag {
  padding: 5px 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.mood-tag:hover {
  background-color: #d0d0d0;
}

.mood-tag.selected {
  background-color: #0056b3; /* Change the color to your desired color */
  color: white; /* Change the text color to white */
}
