
  .home-page-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
  }
  
  .navbar-container {
    flex: 0 0 auto;
  }
  
  .content-container {
    display: flex;
    flex: 1;
  }
  
  .inputs-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Stack inputs in a column */
  }

  .inputs-container label {
    margin:4px;
  }

  .inputs-container input {
    width: 300px; /* Adjust the width value to make the input box wider */
    height: 50px; /* Adjust the height value to make the input box taller */
  }

  .new-entry-btn {
    margin-top: 20px;
  }
  
  .entries-container {
    flex: 0 0 70%; /* Take 60% of available space */
    background-color:rgb(218, 199, 242);
    padding: 20px;
    overflow-y: auto;
    margin: 0; /* Remove margin */
  }
  
  .logout-button-container {
    padding: 20px;
    align-self: flex-start;
    width: auto;
  }
  
   .blue-btn {
    background-color: rgb(114, 178, 237); 
    border: none;
    color: white;
    width: 200px; 
    height: 45px; 
    font-size: 20px;
  }